@import "tailwindcss";

@theme {
  --color-dark: #171725;
  --color-navy: #34344A;
  --color-orange: #F36B3D;
  --color-light: #F6F6F6;
  
  --font-family-sans: var(--font-poppins), system-ui, sans-serif;
}

:root {
  --background: #F6F6F6;
  --foreground: #171725;
  --main: #F36B3D;
  --secondary: #34344A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171725;
    --foreground: #F6F6F6;
    --secondary: #34344A;
    --main: #F36B3D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, sans-serif;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
